      <!-- Products Carousel -->
      <swiper-container
          slides-per-view="1"
          space-between="16"
          navigation="false"
          pagination="true"
          autoplay="true"
          loop="true"
          breakpoints='{
              "640": {
                  "slidesPerView": 2,
                  "spaceBetween": 16
              },
              "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 16
              },
              "1024": {
                  "slidesPerView": 4,
                  "spaceBetween": 16
              },
              "1280": {
                  "slidesPerView": 5,
                  "spaceBetween": 16
              }
          }'
          class="mt-2">
          <swiper-slide *ngFor="let product of products" class="mt-2 pb-16">
              <div class="group flex flex-col h-full shadow-md rounded-lg">
                  <div class="relative overflow-hidden rounded-t-lg !rounded-b-none mb-3 aspect-square min-h-[200px] sm:min-h-[220px] max-h-[200px] sm:max-h-[220px]">
                      <img 
                         [src]="getProfileImage(product.images)"
                          [alt]="product.productName"
                          loading="lazy"    
                          class="w-full h-full object-cover transform group-hover:scale-105 transition duration-500"
                      />    
                  </div>
                  <div class="flex flex-col flex-grow px-2 min-h-[180px] ">
                      <h4 class="text-base font-semibold line-clamp-1 my-1">{{product.productName}}</h4>
                      <!-- Committee Name and Region -->
                      <div class="flex flex-wrap gap-2 my-0.5">
                          <span class="inline-flex items-center gap-1.5 px-2.5 py-1 bg-blue-50 rounded-full text-xs font-medium">
                              <lucide-angular [img]="icons.CommitteeIcon" class="w-3.5 h-3.5 text-black flex-shrink-0"></lucide-angular>
                              <span class="truncate">{{product.committeeName}}</span>
                          </span>
                          <span [ngClass]="getClass(product.region)"
                              class="inline-flex items-center gap-1.5 px-2.5 py-1 rounded-full text-xs font-medium transition-all duration-300 hover:text-white">
                              <lucide-angular [img]="icons.DistrictIcon" class="w-3.5 h-3.5 flex-shrink-0"></lucide-angular>
                              <span class="truncate">{{product.region}}</span>
                          </span>
                      </div>
                      <p class="text-gray-700 my-2 line-clamp-2 h-11 text-sm">
                          {{product.description}}
                      </p>
                      <!-- Tags -->
                      <div class="flex mt-1 mb-2 flex-row gap-x-1.5 line-clamp-1 h-[2rem]  overflow-hidden">
                        <div *ngFor="let tag of product.tags | slice:0:2; let i =index">
                        <span class="inline-flex items-center gap-1 px-2 py-1 bg-gray-100 text-gray-700 text-xs rounded-full">
                            <lucide-angular [img]="icons.TagIcon" class="w-3 h-3 flex-shrink-0"></lucide-angular>
                            <span class="truncate">{{tag}}</span>
                        </span>
                    </div>
                    </div>

                      <a  [routerLink]="['/product',product.productId]" (click)="scrollToTop()" routerLinkActive="router-link-active" 
                       class="mx-auto flex justify-center mb-3 items-center mt-auto w-fit border border-[#1C2A0E] rounded-full px-3 sm:px-4 py-1 sm:py-1.5 text-sm text-[#1C2A0E] hover:bg-[#1C2A0E] hover:text-white transition-all duration-300">
                          Know More 
                          <lucide-angular [img]="icons.ArrowIcon"  class="h-3 w-3 sm:h-3.5 sm:w-3.5 ml-1.5 flex-shrink-0"></lucide-angular>
                      </a>
                  </div>
              </div>
          </swiper-slide>
      </swiper-container>
